<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-card>
  <ion-card-header>
    <ion-card-title>Add A New Antibiotic To The List</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Fill out this form to add another entry to the database. Make sure
    the entries are correct. For Zone of inihibition type the upper most and lower most
    diameters seperated by comma. Example: 12,16
  </ion-card-content>
</ion-card>

<ion-content>
  <ion-list lines="full">
    <form [formGroup]="addnewform" (ngSubmit)="formSubmit()">
      <ion-item>
        <ion-label position="floating">Antibiotic</ion-label>
        <ion-input formControlName="name" type="text" required></ion-input>
      </ion-item>

      <ion-content padding>
        <ion-list lines="none">
          <form [formGroup]="addnewform">
            <ion-item *ngFor="let control of addnewform.controls | keyvalue">
              <ion-input required type="text" [formControlName]="control.key" placeHolder="Bacterium"></ion-input>
            </ion-item>
          </form>
        </ion-list>
      </ion-content>

      <ion-item>
        <ion-label position="stacked">Bacterium and Zone of Inhibition</ion-label>
        <ion-input formControlName="bacterium" type="text" placeholder="Bacterium" required></ion-input>
        <ion-input formControlName="zone" type="text" placeholder="Zone of Inhibition" required></ion-input>
      </ion-item>
      <!-- <button item-start ion-fab mini color="dark" (click)="addBacterium()">
        Add New field
        <ion-icon name="add"></ion-icon>
      </button> -->

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">Submit</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>
