
<ion-list>
  <ion-list-header>
    <ion-label>
      <h1>Antiobiotic Resistance Test</h1> 
    </ion-label>
  </ion-list-header>

  <ion-item>
    <ion-label>Antibiotic</ion-label>
    <ion-select multiple="true" cancelText="cancel" okText="select">
      <ion-select-option>Amdinocillin, AMD-10</ion-select-option>
      <ion-select-option>Amikacin, AN-30</ion-select-option>
      <ion-select-option>Amoxicillin, Clavulanic Acid</ion-select-option>
      <ion-select-option>Ampicillin, AM-10</ion-select-option>
      <ion-select-option>Ampicillin, Sulbactam</ion-select-option>      
    <ion-select-option>Azithromycin, AZM-15</ion-select-option>
    <ion-select-option>Azlocillin, AZ-75</ion-select-option>
    <ion-select-option>Aztreonam, ATM-30</ion-select-option>
    <ion-select-option>Bacitracin</ion-select-option>
    <ion-select-option>Carbenicillin</ion-select-option>
    <ion-select-option>Cefaclor</ion-select-option>
    <ion-select-option>Cefamandole</ion-select-option>
    <ion-select-option>Cefazolin</ion-select-option>
    <ion-select-option>Cefdinir</ion-select-option>
    <ion-select-option>Cefepime</ion-select-option>
    <ion-select-option>Cefixime</ion-select-option>
    <ion-select-option>Cefmetazole, CMZ-30 </ion-select-option>
    <ion-select-option>Cefonicid, CID-30</ion-select-option>
    <ion-select-option>Cefoperazone, CFP-75</ion-select-option>
    <ion-select-option>Cefotaxime, CTX-30</ion-select-option>
    <ion-select-option>Cefotetan</ion-select-option>
    <ion-select-option>Cefoxitin, FOX-30</ion-select-option>
    <ion-select-option>Cefpodoxime</ion-select-option>
    <ion-select-option>Cefprozil, CPR-30</ion-select-option>
    <ion-select-option>Ceftazidime, CAZ-30</ion-select-option>
    <ion-select-option>Ceftibuten, CTB-30</ion-select-option>
    <ion-select-option>Ceftizoxime, ZOX-30</ion-select-option>
    <ion-select-option>Ceftriaxone, CRO-30</ion-select-option>
    <ion-select-option>Cefuroxime, CXM-30</ion-select-option>
    <ion-select-option>Cephalothin, CF-30</ion-select-option>
    <ion-select-option>Chloramphenicol, C-30</ion-select-option>
    <ion-select-option>Cinoxacin, CIN-100</ion-select-option>
    <ion-select-option>Ciprofloxacin, CIP-5</ion-select-option>
    <ion-select-option>Clarithromycin, CLR-15</ion-select-option>
    <ion-select-option>Clindamycin, CC-2</ion-select-option>
    <ion-select-option>Colistin</ion-select-option>
    <ion-select-option>Doripenem, DOR-10</ion-select-option>
    <ion-select-option>Doxycycline, D-30</ion-select-option>
    <ion-select-option>Enoxacin, ENX-10</ion-select-option>
    <ion-select-option>Ertapenem, ETP-10</ion-select-option>
    <ion-select-option>Erythromycin, E-15</ion-select-option>
    <ion-select-option>Fosfomycin, FOS-200</ion-select-option>
    <ion-select-option>Gatifloxacin, GAT-5</ion-select-option>
    <ion-select-option>Gentamicin, GEM-5</ion-select-option>
    <ion-select-option>Gentamicin, GM-120</ion-select-option>
    <ion-select-option>Imipenem,IPM-10</ion-select-option>
    <ion-select-option>Kanamycin, K-30</ion-select-option>
    <ion-select-option>Levofloxacin</ion-select-option>
    <ion-select-option>Linezolid, LZD-30</ion-select-option>
    <ion-select-option>Lomefloxacin, LOM-10</ion-select-option>
    <ion-select-option>Loracarbef, LOR-30</ion-select-option>
    <ion-select-option>Meropenem, MEM-10</ion-select-option>
    <ion-select-option>Mezlocillin, MZ-75</ion-select-option>
    <ion-select-option>Minocycline, MI-30</ion-select-option>
    <ion-select-option>Moxalactam, MOX-30</ion-select-option>
    <ion-select-option>Moxifloxacin, MXF-5</ion-select-option>
    <ion-select-option>Nafcillin, NF-1</ion-select-option>
    <ion-select-option>Nalidixic Acid, NA-30</ion-select-option>
    <ion-select-option>Netilmicin. NET-30</ion-select-option>
    <ion-select-option>Nitrofurantoin, F/M-300</ion-select-option>
    <ion-select-option>Norfloxacin, NOR-10</ion-select-option>
    <ion-select-option>Novobiocin, NB-30</ion-select-option>
    <ion-select-option>Ofloxacin, OFX-5</ion-select-option>
    <ion-select-option>Oxacillin, OX-1</ion-select-option>
    <ion-select-option>Oxolinic Acid, OA-2</ion-select-option>
    <ion-select-option>Penicillin, P-10</ion-select-option>
    <ion-select-option>Piperacillin, PIP-100</ion-select-option>
    <ion-select-option>Piperacillin/Tazobactam, TZP-110</ion-select-option>
    <ion-select-option>Polymyxin B, PB-300</ion-select-option>
    <ion-select-option>Quinupristin/Dalfopristin, SYN-15</ion-select-option>
    <ion-select-option>Rifampin, RA-5</ion-select-option>
    <ion-select-option>Sparfloxacin, SPX-5</ion-select-option>
    <ion-select-option>Spectinomycin, SPT-100</ion-select-option>
    <ion-select-option>Streptomycin</ion-select-option>
    <ion-select-option>Sulfisoxazole, G-_25</ion-select-option>
    <ion-select-option>Telavancin, TLV-30</ion-select-option>
    <ion-select-option>Telithromycin, TEL-15</ion-select-option>
    <ion-select-option>Tetracycline, Te-30</ion-select-option>
    <ion-select-option>Ticarcillin, TIC-75</ion-select-option>
    <ion-select-option>Ticarcillin/Clavulanic Acid, TIM-85</ion-select-option>
    <ion-select-option>Tigecycline, TGC-15</ion-select-option>
    <ion-select-option>Tobramycin, NM-10</ion-select-option>
    <ion-select-option>Trimethoprim, TMP-5</ion-select-option>
    <ion-select-option>Trimethoprim\Sulfamethoxazole, SXT</ion-select-option>
    <ion-select-option>Vancomycin, Va-30</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Bacterium</ion-label>
    <ion-select multiple="true" cancelText="cancel" okText="select">
      <ion-select-option>Acinetobacter</ion-select-option>  
        <ion-select-option>Acinetobacter & Staphylococci</ion-select-option>
        <ion-select-option>Acinetobacter Baumannii</ion-select-option>
        <ion-select-option>Enterobacteriaceae</ion-select-option>
        <ion-select-option>Enterobacteriaceae & Staphylococci</ion-select-option>
        <ion-select-option>Enterococcus</ion-select-option>
        <ion-select-option>Enterococci</ion-select-option>
        <ion-select-option>E.faecalis</ion-select-option>
        <ion-select-option>Haemophilus spp.</ion-select-option>
        <ion-select-option>H.influenzae</ion-select-option>
        <ion-select-option>H.parainfluenzae</ion-select-option>
        <ion-select-option>Listeria Monocytogenes</ion-select-option>
        <ion-select-option>N.gonorrhoeae</ion-select-option>
        <ion-select-option>Pseudomonans aeruginosa</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>




<ion-content padding class="ion-padding" color="light">  
  <ion-content class="background-image">
    <ion-textarea placeholder="Enter zone value here..."></ion-textarea>

  </ion-content>
  <div id="container">  
    <ion-button (click)="showSubmit()" expand="ion-button" color = "success">Submit</ion-button>
    <ion-button (click)="showClear()" expand="ion-button" color = "danger">Clear</ion-button>    
  </div>  
</ion-content>  